html {
  font-size: 30px;
  font-family: 'starborn', nunito;
}

h1 {
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #92140C;
}

body {
  width: 6000px;
  margin: 0 auto;
  background-color: #E8F0FF;
  padding: 0 20px 20px 20px;
  border: 90px pink ;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ff006e;
  text-shadow: 3px 3px 1px blue;
}

img {
  display: block;
  margin: 0 auto;
}
