html {
  font-family: "Courier New", monospace; /* vibe vieja escuela */
  background: black;
  color: #00ffcc;
}

body {
  width: 700px;
  margin: 40px auto;
  background: black;
  border: 3px solid #ff00ff;
  padding: 20px;
  box-shadow: 0 0 20px #ff00ff;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #ff00ff;
  text-shadow: 
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff;
  letter-spacing: 3px;
}

h2 {
  text-align: center;
  font-size: 22px;
  color: #00ffff;
  text-shadow: 0 0 8px #00ffff;
}

p, li {
  font-size: 16px;
  color: #00ffcc;
}

img {
  display: block;
  margin: 20px auto;
  width: 320px;
  height: auto;
  border: 3px solid #00ffff;
  box-shadow: 
    0 0 10px #00ffff,
    0 0 20px #ff00ff;
}

p {
  text-align: center;
  font-size: 24px;
  color: yellow;
  text-shadow: 0 0 10px yellow;
}

ul {
  border-top: 1px dashed #ff00ff;
  padding-top: 15px;
}
